@model n01397767_Assignment3_CumlativeProject.Models.Student
@{
    ViewBag.Title = "Show";
}

<h2>@Model.StudentFname @Model.StudentLname</h2>
<p><b>Student Number : </b>@Model.StudentNumber</p>
<p><b>Enrolment Date : </b>@Model.StudentEnrolDate</p>

<a style="color:mediumvioletred" href="/Student/List">Go back</a>

