body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navlink {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

    .navlink a {
        font-size: 1.5em;
        margin-right:15px;
    }

.show-deleteButton:hover {
    color: red;
}
.newteacher-label {
    display: block;
}

.form-elements {
    padding-top: 1em;
}

.submit-button {
    margin-top: 1em;
    border: 1px solid lawngreen;
    border-radius: 5px;
    padding: 0.5em;
    background-color: lawngreen;
    color: white;
    text-transform: capitalize;
}
#errorMessage{
    color:red;
}

.input-error {
    border: 2px solid red;
}

