<div class="jumbotron">
    <h1>Assignment 3</h1>
    <p class="lead">
        Its a cummulative project for building the funtionality of Create, Read, Update, and Delete for
        web application
    </p>
    <p> It displays School Database which include details of students , teachers and their appropriate classes.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Teacher Details</h2>
        <p>The teacher PAge includes the information of teacher. That is teacher first name, last name, Salary , Hiredate and 
        and in which classes are associated with them.</p>
        <p><a class="btn btn-default" href="/Teacher/List">List of teachers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Student Details</h2>
        <p>The Student List Page includes the information of the student of that school.It has student first name, student last name,
        student number and the day when they were enrolled.</p>
        <p><a class="btn btn-default" href="/Student/List">List of Students &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Class Details</h2>
        <p>This page contains the details of all course.It includes course code, course name , start and finish date of the course as well as
        which teacher is assigned to that course.</p>
        <p><a class="btn btn-default" href="/Classes/List">Classes Details &raquo;</a></p>
    </div>
</div>
