<div class="jumbotron">
    <h1>Assignment 3</h1>
    <p class="lead">
        Its a cummulative project for building the funtionality of Create, Read, Update, and Delete for
        web application
    </p>
    <p> It displays School Database which include details of students , teachers and their appropriate classes.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Teacher Details</h2>
        <p>The teacher Tabel includes the information of teacher. That is teacher first name, last name, Salary , Hiredate and 
        and in which classes are associated with them.</p>
        <p><a class="btn btn-default" href="/Teacher/List">List of teachers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
