
@{
    ViewBag.Title = "New";
}
<style>
    label{
        display:block;
    }
    .form-elements{
        padding-top:1em;
    }
    input[type=submit]{
        margin-top:1em;
        border:1px solid lawngreen;
        border-radius:5px;
        padding:0.5em;
        background-color:lawngreen;
        color:white;
        text-transform:capitalize;
    }
</style>
<h2>Add a Teacher</h2>
<form method="post" action="/Teacher/Create">
    <div class="form-elements">
        <label for="TeacheFname">First Name</label>
        <input type="text" name="TeacherFname" id="TeacherFname" />
    </div>
    <div class="form-elements">
        <label for="TeacherLname">Last Name</label>
        <input type="text" name="TeacherLname" id="TeacherLname" />
    </div>
    <div class="form-elements">
        <label for="EmployeeNumber">Employee Number</label>
        <input type="text" name="EmployeeNumber" id="EmployeeNumber" />
    </div>
    <div class="form-elements">
        <label for="TeacherHireDate">Hiring Date</label>
        <input type="datetime-local" name="TeacherHireDate" id="TeacherHireDate" />
    </div>
    <div class="form-elements">
        <label for="TeacherSalary">Teacher Salary</label>
        <input type="text" name="TeacherSalary" id="TeacherSalary" />
    </div>
    <input type="submit" value="Submit" />
</form>
