
@{
    ViewBag.Title = "New";
}
@*This is use to display the HTML form for adding the new teacher.
    *@
<h2>Add a Teacher</h2>
<form  name="newTeacher" action="/Teacher/Create" onsubmit="return processForm();">
    <div class="form-elements">
        <p id="errorMessage"></p>
    </div>
    <div class="form-elements">
        <label class="newteacher-label" for="TeacheFname">First Name</label>
        <input type="text" name="TeacherFname" id="TeacherFname" />
    </div>
    <div class="form-elements">
        <label class="newteacher-label" for="TeacherLname">Last Name</label>
        <input type="text" name="TeacherLname" id="TeacherLname" />
    </div>
    <div class="form-elements">
        <label class="newteacher-label" for="EmployeeNumber">Employee Number</label>
        <input type="text" name="EmployeeNumber" id="EmployeeNumber" />
        <p>It should be 4 digit and start with T(For eg, t456)</p>
    </div>
    <div class="form-elements">
        <label  class="newteacher-label" for="TeacherHireDate">Hiring Date</label>
        <input type="datetime-local" name="TeacherHireDate" id="TeacherHireDate" />
    </div>
    <div class="form-elements">
        <label class="newteacher-label" for="TeacherSalary">Teacher Salary</label>
        <input type="text" name="TeacherSalary" id="TeacherSalary" />
    </div>
    <input class="submit-button" type="submit" value="Submit" />
</form>
<script>
    @* On submitting the form this fucntion is called.
        It checks wether all the fields have value or not.
        And also checks the employee number with a regular expression.*@
    function processForm() {
        var expr = /^(t|T)([0-9]{3})$/;
        var errorMessage = document.getElementById("errorMessage");
        fname = document.getElementById('TeacherFname').value;
        lname = document.getElementById('TeacherLname').value;
        employeenumber = document.getElementById('EmployeeNumber').value;
        hiredate = document.getElementById('TeacherHireDate').value;
        salary = document.getElementById('TeacherSalary').value;
        if (!(fname)) {
            errorMessage.innerHTML = "Please enter first name.";
            return false;
        }
        if (!(lname)) {
            errorMessage.innerHTML = "Please enter last name.";
            return false;
        }
        if (!(expr.test(employeenumber)))
        {
            errorMessage.innerHTML = "Please enter valid Employee Number";
            return false;
        }
         if (!(employeenumber)) {
            errorMessage.innerHTML = "Please enter Employee Number";
            return false;
        }
         if (!(hiredate)) {
            errorMessage.innerHTML = "Please enter Hiring Date";
            return false;
        }
         if (!(salary)) {
            errorMessage.innerHTML = "Please enter salary";
            return false;
        }
        if (isNaN(salary)) {
            errorMessage.innerHTML = "Please enter valid salary";
            return false;
        }
      
    }
    

</script>